/*	Table of Contents

	1. Root
	2. Nav
	3. Containers
	4. Text
	5. Media Queries

	-----------------------------	*/

/* 	1. Root */

:root {
	/* Color Variables */
	--brand-primary: #FFFDF6; 	/* offwhite */
	--brand-secondary: #E0EFDC; /* sea-foamy green, but more yellow */
	--text-main: #333; 			/* charcoal, but no blue */
	--link-main: #438E41; 		/* forest green */
	--link-hover: #93C785;		/* similar to brand-secondary, but darker */

	/* Display & Box Model */
	width: 100%;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;

	/* Color */
	background: var(--brand-primary);
	color: var(--text-main);

	/* Text */
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

/* 	2. Nav */

/* if(viewport-width < 900px) */
nav#nav-mobile {
	/* Display & Box Model */
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: clamp(55px, 10vh, 65px);
	/* all four attributes below necessary to keep it against the edge of the screen */
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;

	/* Color */
	background: var(--brand-secondary);

	/* Text */
	text-align: center;
}

/* if(viewport-width > 900px) */
nav#nav-desktop {
	/* Display & Box Model */
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: clamp(55px, 10vh, 65px);
	align-items: center;
	justify-content: space-between;
	/* all four attributes below necessary to keep it against the edge of the screen */
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;

	/* Color */
	background: var(--brand-secondary);

	/* Text */
	text-align: center;
}

img#nav-logo {
	width: clamp(55px, 10vh, 65px);
	height: clamp(55px, 10vh, 65px);
	top: 0;
	left: 0;
	position: absolute;
	z-index: 9998;
}

a#nav-logo-link {
	position: relative;
}

ul#nav-list {
	margin: 0 auto; /* centers element */
	padding: 0;
	list-style-type: none;
	height: 100%;

	text-align:center;
	position: relative;
	display: inline-block;
}

li.nav-item {
	float: left;
	height: 100%;

	text-align: center;
	line-height: clamp(55px, 10vh, 65px);
}

li.nav-item:hover {
	background: var(--brand-primary);
}

a.nav-link {
	/* Display & Box Model */
	display: block;
	margin: 0 2.5vw;

	/* Color */
	color: var(--link-main);

	/* Text */
	text-align: center;
	font-weight: bold;
}

a.nav-link:hover,
a.nav-link:hover:visited,
a.nav-link:visited {
	color: var(--link-main);
}

/* activated via jQuery when current */
li.item-current,
li.item-current:hover {
	background: var(--link-main);
}

a.link-current,
a.link-current:visited,
a.link-current:hover,
a.link-current:visited:hover {
	color: var(--brand-primary);
}

/* 3. Containers */

div#main-content {
	padding-top: clamp(25px, 7.5%, 40px);
	padding-right: clamp(25px, 7.5%, 40px);
	padding-bottom: clamp(15px, 5%, 30px);
	padding-left: clamp(25px, 7.5%, 40px);
}

div.grid {
  	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-template-rows: auto;
  	grid-column-gap: 1px;
  	margin-bottom: 20px;
}

div.item {
	grid-column-start: auto;
  	grid-row-start: auto;
	padding: 5px;
}

/*	4. Text */

h1 {
	margin-top: 5vh;

	font-size: 2.4rem;
	text-align: center;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.85rem;
}

h5 {
	font-size: 1.75rem;
}

h6 {
	font-size: 1.7rem;
}

a {
	color: var(--link-main);

	text-decoration: none;
}

a:hover,
a:visited:hover {
	color: var(--link-hover);
}

a:visited {
	color: var(--link-main);
}

/* located above viewport, skip to main-content, which is located below the nav bar */
a#skip-nav {
	padding: 10px 15px;
	border-radius: 0 0 10px 10px;
	position: absolute;
	transform: translateY(-130%);
	margin: 0;
	z-index: 9999;
	outline: 1.6px solid black;

	background: var(--brand-primary);
}

/* ^only pops into the viewport when focused */
a#skip-nav:focus {
	transform: translateY(-30%);
}

/* 5. Media Queries */

/* hide scroll bars and activate nav-mobile for all mobile phones regardless of orientation */
@media only screen and (max-width: 900px) {
	:root {
		overflow-x: hidden;
		overflow-y: hidden;
	}

	nav#nav-desktop {
		visibility: hidden;
	}

	nav#nav-mobile {
		visibility: visible;
	}
}

/* change font-size to 16px smaller portrait-oriented mobile phones */
@media only screen and (max-width: 595px) {
	:root {
		font-size: 16px;
	}
}

/* change font-size to 17.5px for landscape-oriented mobile phones and portrait-oriented tablets */
@media only screen and (min-width: 595px) and (max-width: 768px) {
	:root {
		font-size: 17.5px;
	}
}

/* change font-size to 19px for larger phones in landscape-orientation and tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	:root {
		font-size: 19px;
	}
}

/* change font-size to 20.5px for larger tablets and smaller notebooks*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	:root {
		font-size: 20.5px;
	}
}

/* change font-size to 21.75px for medium-sized laptops*/
@media only screen and (min-width: 1280px) and (max-width: 1600px) {
	:root {
		font-size: 21.75px;
	}
}

/* increase font-size (especially for p and a tags), adjust nav bar, and set h1 margin-top for standard desktop screens */
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
	:root {
		font-size: 22.5px;
	}

	nav#nav-desktop {
		height: clamp(50px, 10.5vh, 80px);
	}

	img#nav-logo {
		width: clamp(50px, 10.5vh, 80px);
		height: clamp(50px, 10.5vh, 80px);
	}

	li.nav-item {
		line-height: clamp(50px, 10.5vh, 80px);
	}

	a.nav-link {
		margin: 0 3vw;
	}

	h1 {
		margin-top: clamp(80px, 12.5vh, 142px);
	}

	h1 {
		margin-top: 6vh;
	}

	p,
	a {
		font-size: 1.15rem;
	}
}

/* increase font-size (especially for p and a tags), adjust nav bar, and set h1 margin-top for larger desktop screens and standard TV's */
@media only screen and (min-width: 1920px) and (max-width: 2400px) {
	:root {
		font-size: 28.5px;
	}

	nav#nav-desktop {
		height: clamp(60px, 10.5vh, 145px);
	}

	img#nav-logo {
		width: clamp(60px, 10.5vh, 145px);
		height: clamp(60px, 10.5vh, 145px);
	}

	li.nav-item {
		line-height: clamp(60px, 10.5vh, 145px);
	}

	a.nav-link {
		margin: 0 3vw;
	}

	h1 {
		margin-top: clamp(80px, 12.5vh, 185px);
	}

	h1 {
		margin-top: 6vh;
	}

	p,
	a {
		font-size: 1.1rem;
	}
}

/* increase font-size (especially for p and a tags), adjust nav bar, and set h1 margin-top for even larger desktop screens and larger TV's */
@media only screen and (min-width: 2400px) and (max-width: 2850px) {
	:root {
		font-size: 32px;
	}

	nav#nav-desktop {
		height: clamp(60px, 11.5vh, 160px);
	}

	img#nav-logo {
		width: clamp(60px, 11.5vh, 160px);
		height: clamp(60px, 11.5vh, 160px);
	}

	li.nav-item {
		line-height: clamp(60px, 11.5vh, 160px);
	}

	a.nav-link {
		margin: 0 3vw;
	}

	h1 {
		margin-top: clamp(80px, 12.5vh, 185px);
	}

	p,
	a {
		font-size: 1.2rem;
	}
}

/* increase font-size (especially for p and a tags), adjust nav bar, and set h1 margin-top for huge desktop screens and even larger TV's */
@media only screen and (min-width: 2850px) and (max-width: 3840px) {
	:root {
		font-size: 37.5px;
	}

	nav#nav-desktop {
		height: clamp(60px, 11.5vh, 160px);
	}

	img#nav-logo {
		width: clamp(60px, 11.5vh, 160px);
		height: clamp(60px, 11.5vh, 160px);
	}

	li.nav-item {
		line-height: clamp(60px, 11.5vh, 160px);
	}

	a.nav-link {
		margin: 0 3vw;
	}

	h1 {
		margin-top: clamp(80px, 12.5vh, 185px);
	}

	p,
	a {
		font-size: 1.3rem;
	}
}

/* increase font-size (especially for p and a tags), adjust nav bar, and set h1 margin-top for biggest desktop screens and biggest TV's */
@media only screen and (min-width: 3840px) {
	:root {
		font-size: 50px;
	}

	nav#nav-desktop {
		height: clamp(60px, 11.5vh, 160px);
	}

	img#nav-logo {
		width: clamp(60px, 11.5vh, 160px);
		height: clamp(60px, 11.5vh, 160px);
	}

	li.nav-item {
		line-height: clamp(60px, 11.5vh, 160px);
	}

	a.nav-link {
		margin: 0 3vw;
	}

	h1 {
		margin-top: clamp(80px, 12.5vh, 185px);
	}

	p,
	a {
		font-size: 1.4rem;
	}
}
