/*	Table of Contents

	1. Root
	2. Nav
	3. Containers
	4. Text
	5. Shop
	6. Footer
	7. Media Queries

	-----------------------------	*/

/* 	1. Root ---- mobile first */

/* reset margin, padding, and font-weight to override later */
* {
	margin: 0;
	padding: 0;
	overflow: hidden;

	font-weight: 300;
}

:root {
	/* Color Variables */
	--brand-primary: #FFFDF6; 	/* yellowy offwhite */
	--brand-secondary: #E0EFDC; /* sea-foamy green, but more yellow */
	--text-main: #333; 			/* charcoal, but no blue */
	--link-main: #438E41; 		/* forest green */
	--link-hover: #93C785;		/* brand-secondary, but darker */

	/* Display & Box Model */
	overflow-x: hidden;
	overflow-y: scroll;

	/* Color */
	background: var(--brand-primary);
	color: var(--text-main);

	/* Text */
	font-family: 'Roboto Condensed', sans-serif;
	font-size: calc(16px + 0.2vw);
	line-height: 1.55;
}

/* 	2. Nav */

/* if(viewport-width < 950px) */
nav#nav-mobile {
	/* Nav Height */
	--nav-height: calc(35px + 1.25vw);

	/* Display & Box Model */
	height: var(--nav-height);
	align-items: center;
	margin-bottom: 1vmin;

	/* Color */
	background: var(--brand-secondary);

	/* Text */
	text-align: center;
}

/* 	if(viewport-width >= 950px) */
nav#nav-desktop {
	/* Nav Height */
	--nav-height: calc(35px + 1.5vmax);

	/* Display & Box Model */
	display: none;
	height: var(--nav-height);
	margin-bottom: 1vmin;

	/* Color */
	background: var(--brand-secondary);

	/* Text */
	text-align: center;
}

img#nav-logo {
	left: 0;
	position: absolute;
	width: var(--nav-height);
	height: var(--nav-height);
}

ul#nav-list {
	list-style-type: none;
	display: inline-block;
}

li.nav-item {
	float: left;
	line-height: var(--nav-height);
}

li.nav-item:hover {
	background: var(--brand-primary);
}

a.nav-link {
	/* Display & Box Model */
	display: block;
	margin-inline: clamp(10px, 2vw, 50px);

	/* Color */
	color: var(--link-main);

	/* Text */
	font-size: calc(1.1rem + 0.2vw);
}

a.nav-link:hover,
a.nav-link:hover:visited,
a.nav-link:visited {
	color: var(--link-main);
}

/* 	activated via JavaScript when current */
li.item-current,
li.item-current:hover {
	background: var(--link-main);
}

/* 	activated via JavaScript when current */
a.link-current,
a.link-current:hover,
a.link-current:visited,
a.link-current:visited:hover {
	color: var(--brand-primary);

	font-weight: 400;
}

/* 	3. Containers */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-block: calc(12.5px + 0.25vmax);
	padding-inline: 14px;
	scroll-behavior: smooth;
}

.grid {
	display: grid;
}

/*	4. Text */

h1 {
	margin-block: calc(10px + 0.5vh);
	max-width: 70ch;

	text-align: center;
	font-size: calc(1.25rem + 1vw);
	text-transform: uppercase;
	font-weight: 400;
}

h2 {
	font-size: calc(1.075rem + 0.7vw);
}

h3 {
	font-size: calc(1.065rem + 0.6vw);
}

h4 {
	font-size: calc(1.05rem + 0.5vw);
}

h5 {
	font-size: calc(1.035rem + 0.4vw);
}

h6 {
	font-size: calc(1.025rem + 0.3vw);
}

p {
	max-width: 70ch;
	margin-bottom: 16px;

	font-size: calc(1.02rem + 0.2vw)
}

a, a:visited {
	color: var(--link-main);

	text-decoration: none;
}

a:hover:not(a.nav-link, a.nav-current, a.bottom-link),
a:visited:hover:not(a.nav-link, a.nav-current, a.bottom-link) {
	color: var(--link-hover);
}

a:focus:not(a.nav-link, a.bottom-link),
a:visited:focus:not(a.nav-link, a.bottom-link) {
	background: var(--brand-secondary);
}

/* 	hidden above viewport, skip to main-content, which is located below the nav bar */
a#skip-nav {
	z-index: 9999;
	position: absolute;
	padding: 10px 15px;
	border-radius: 0 0 10px 10px;
	transform: translateY(-10vh);
	border: 1.4px solid var(--text-main);

	background: var(--brand-primary);
}

a#skip-nav:visited {
	color: var(--link-main);
}

a#skip-nav:hover,
a#skip-nav:visited:hover {
	color: var(--link-hover);
}

/* 	only pops into viewport when focused */
a#skip-nav:focus {
	transform: translateY(-1vh);
}

/*	5. Shop */

div#shop {
	grid-template-columns: repeat(60, 1fr);
	column-gap: calc(5px + 0.35vw);
	row-gap: calc(8.5px + 0.4vw);

	padding: 12.5px;
	margin-bottom: calc(20px + 1vmax);
}

div.shop-item {
	grid-column: span 60;	/* 1 per row -- # of shop-items icreases with vw */

	box-shadow: -10px 10px 6.5px -7.5px #918F76;

	background-color: var(--brand-secondary);
}

/* bright orange outline when focused via tab or click */
div.shop-item:focus {
	outline: clamp(1.5px, 0.5vmin, 7.5px) solid #F28423;
}

img.shop-thumbnail {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

div.item-info {
	padding-bottom: 10px;
}

div.item-info > span.item-name {
	display: block;

	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
}

div.item-info > span.price {
	display: block;

	color: var(--link-main);

	font-size: 1.05rem;
	text-align: center;
}

/* 	6. Footer */

footer {
	/* Socials Size */
	--footer-social: calc(27.5px + 2.5vmin);

	/* Grid */
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(6, 1fr);

	/* Box Model */
	border-top: 2px solid var(--link-main);
	height: calc(165px + 15vmin);
	margin-top: calc(50px + 1vmax);
	padding-top: calc(10px + 0.5vmin);

	/* Colors */
	color: var(--text-main);
	background: var(--brand-secondary);
}

ul#social-list {
	grid-column: span 15;
	grid-row: 1;

	display: flex;
	list-style-type: none;
	justify-content: center;
	height: calc(var(--footer-social) + 0.2vw);
}

li.social-item {
	float: left;
	padding-block: 0.1vmax;
}

img.social-img {
	width: var(--footer-social);
	height: var(--footer-social);
	margin-inline: 0.2vw;
	border-radius: 50%;
}

img.social-img:hover {
	animation-name: squish;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes squish {							/* TO-DO: fix animation flowing outside img/li/ul element(s) */
    0%, 100% {transform: scale(1, 1);}
    10% {transform: scale(1.1, 0.9);}
    30% {transform: scale(0.9, 1.1);}
    50% {transform: scale(1, 1);}
}

ul#additional-links {
	grid-column: span 15;
	grid-row: 6;

	display: flex;
	list-style-type: none;
	justify-content: center;
}

li.bottom-item {
	float: left;
}

a.bottom-link,
a.bottom-link:visited {
	margin-block: 10px;
	margin-inline: calc(8px + 1vw);

	font-size: calc(0.5rem + 0.2vmin);
}

a.bottom-link:hover,
a.bottom-link:hover:visited {
	text-decoration: underline;
}

/* 	7. Media Queries */

/* TVs */
@media only screen and (min-width: 3200px) {
	:root {
		font-size: calc(22.5px + 0.2vw);
	}

	main {
		padding-inline: 4.5vmax;
	}

	div.shop-item {
		grid-column: span 6;	/* 10 per row */
	}

	p {
		max-width: 90ch;
	}
}

/* large desktop screens */
@media only screen and (min-width: 2400px) and (max-width: 3200px) {
	:root {
		font-size: calc(20px + 0.25vw);
	}

	main {
		padding-inline: 4.25vmax;
	}

	div#shop {
		grid-template-columns: repeat(24, 1fr);
	}

	div.shop-item {
		grid-column: span 3;	/* 8 per row */
	}

	p {
		max-width: 80ch;
	}
}

/* larger laptops and standard desktops */
@media only screen and (min-width: 1600px) and (max-width: 2400px) {
	main {
		padding-inline: 4vmax;
	}

	div.shop-item {
		grid-column: span 10;	/* 6 per row */
	}
}

/* laptops */
@media only screen and (min-width: 1280px) and (max-width: 1600px) {
	main {
		padding-inline: 3.75vmax;
	}

	div.shop-item {
		grid-column: span 12;	/* 5 per row */
	}
}

/* notebooks */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	main {
		padding-inline: 3vmax;
	}

	div.shop-item {
		grid-column: span 15;	/* 4 per row */
	}
}

/* switch nav bars on any viewport width over 768 px */
@media only screen and (min-width: 768px) {
	nav#nav-desktop {
		display: block;
	}

	nav#nav-mobile {
		display: none;
	}
}

/* tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	main {
		padding-inline: 2.5vmax;
	}

	div.shop-item {
		grid-column: span 20;	/* 3 per row */
	}
}

/* bigger phones (base CSS is mobile-first) */
@media only screen and (min-width: 512px) and (max-width: 768px) {
	div.shop-item {
		grid-column: span 30;	/* 2 per row */
	}
}

/* very short viewports */
@media only screen and (max-height: 532px) {
	main {
		padding-block: 5px;
	}

	h1 {
		margin-top: 5px;
	}

	div#shop {
		padding-top: 4px;
	}

	div.shop-item {
		text-align: center;
	}

	img.shop-thumbnail {
		max-height: 82.5%;
	}
}

/* very thin viewports */
@media only screen and (max-width: 324px) {
	main {
		padding-inline: 0;
	}

	div#shop {
		padding-top: 4px;
	}

	div.shop-item {
		text-align: center;
	}

	img.shop-thumbnail {
		max-width: 80%;
	}
}

/* Nokia 8110 4G and similar, less common devices */
@media only screen and (max-width: 240px) and (max-height: 320px) {
	main {
		padding-block: 2px;
	}

	h1 {
		margin-block: 2px;
	}

	img.shop-thumbnail {
		max-width: 70%;
		max-height: 70%;
	}
}
